---
import Layout from "../layouts/Layout.astro";
import IndexMv from "../partials/IndexMV.astro";
import IndexAbout from "../partials/IndexAbout.astro";
import IndexCv from "../partials/IndexCv.astro";
---

<Layout>
  <div class="index">
    <IndexMv />
    <IndexAbout />
    <IndexCv />
  </div>
</Layout>
