---
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
---

<section class="index__mv">
  <h1>LIG</h1>
  <Card name="TEST" />
  <Button href="#" text="TEST" />
</section>
